@primary: white;

body {
  background: @primary;
  font-family: 'Roboto', Arial, sans-serif;
}

:global {
  #react-root {
    height: 100%;
  }

  .loaded #bundle-preloader {
    display: none;
  }

  a[role=menuitem] .fa, span[role=menuitem] .fa {
    font-size: 24px;
  }
}
