@import "~font-awesome/css/font-awesome.min.css";
@primary: white;

body {
  background: @primary;
  font-family: 'Roboto', sans-serif;
}

.loaded #bundle-preloader {
  display: none;
}

a[role=menuitem] .fa, span[role=menuitem] .fa {
  font-size: 24px;
}
